@import "tailwindcss";

.icon-dot {
  width: 20px;
  height: 20px;
  background-image: url('/BusinessOverview/image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}


.marginal {
    width: 86%;
    max-width: 1500px;
    margin: auto;
    padding: 2% 0;
}
.swiper-pagination {
  margin-top: 1.5rem; /* 6 = 24px space below cards */
  position: relative !important;
}
